@import "variables";

html, body {
  font-size: 16px;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background: $body-bg;
}

input, button {
  outline: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cell {
  min-height: $cell-size;
  min-width: $cell-size;
  max-height: $cell-size;
  max-width: $cell-size;
  margin: 0.5rem;
}

.point {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: $cell-size;
  min-height: $cell-size;

  &-red {
    background-image: url(/images/red-chip.png)
  }

  &-yellow {
    background-image: url(/images/yellow-chip.png)
  }

  &-null {
    background-color: white;
    border-radius: 50%;
  }
}

.arrow-down {
  border: solid white;
  border-width: 0 0.5rem 0.5rem 0;
  display: inline-block;
  padding: 0.5rem;
  cursor: pointer;
  margin: 0 0.7rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
