@import "variables";

html, body {
  font-size: 16px;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background: $body-bg;
}

input, button { outline: none; }

.field { display: flex; flex-direction: row; justify-content: center; align-items: center;}
.cell { min-height: $cell-size; min-width: $cell-size; margin: 1rem;}
.point {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: $cell-size;
  min-height: $cell-size;

  &-red {background-image: url(/images/red-chip.png)}
  &-yellow {background-image: url(/images/yellow-chip.png)}
}

